{
	"parser": "babel-eslint",
	"plugins": ["react"],
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"quotes": ["warn", "single"],
		"semi": ["error", "always"],
		"no-console": "off",
		"no-unused-vars": "warn",
		"react/prop-types": "off"
	},
	"extends": ["eslint:recommended", "plugin:react/recommended"]
}
