html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	background-image: linear-gradient(to right, #96bcc9, #7bb4c0, #5dadb4, #3ea4a5, #179c92);
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-emphasis: bold;
	align-content: center;
	text-align: center;
}

h1,
h2 {
	text-align: center;
	padding: 5px;
	margin: 10px;

}

h3,
h4 {
	text-align: center;
	padding: 5px;
	margin: 10px;
	border-bottom-style: inset;
	border-color: #000000dd;
}

header {
	display: block;
	text-align: center;
	font-size: 111%;
	text-emphasis: bold;
	color: #FFFFFF;
	padding: 0px;
	margin: auto;
	background-color: #000000bb;
	min-height: 0%;
}

form {
	display: block;
	background: rgb(11, 76, 129);
	position: fixed;
	margin-top: auto;
	padding: 15px;
	min-height: 100px;
	width: 100%;
	bottom: 0;
}

form input {
	padding: 10px;
	height: 100px;
	min-height: 30px;
	width: 100%;
}

form button {
	width: 100%;
	border: none;
	padding: 10px;
	margin-top: 15px;
}

#messages {
	position: absolute;
	max-height: 79%;
	width: 100%;
	overflow-y: auto;
	bottom: 0;
	list-style-type: none;
	padding: 0;
}

#messages li {
	padding: 5px 10px;
	min-height: 34px;
	max-width: 100%;
	overflow-x: auto;
}

#users {
	position: absolute;
	max-height: 79%;
	width: 100%;
	overflow-y: auto;
	list-style-type: none;
	padding: 0;

}

#users li {
	padding: 1px 8px;
	max-width: 100%;
	overflow-x: auto;
}

.section-title {
	display: block;
	position: relative;
}

.messages {
	display: inline-block;
	position: relative;
	margin: auto;
	height: 50vh;
	width: 68%;
	background-color: #03020233;
	text-align: left;
	padding-left: 5px;
	line-height: 50%;
}

.user-list {
	display: inline-block;
	position: relative;
	margin: auto;
	height: 50vh;
	width: 28%;
	background-color: #00000033;
	text-align: center;
}

.app-body {
	display: block;
	position: relative;
}

.time {
	display: inline;
	font-size: 88%;
	color: #464646;
}

.user {
	display: inline;
	font-weight: bold;
}

.msg {
	display: inline;
}

.info {
	display: inline;
}

.userName {
	font-weight: bold;
}

.current-user {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 111%;
}
