html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	background-image: linear-gradient(to right, #96bcc9, #7bb4c0, #5dadb4, #3ea4a5, #179c92);
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-emphasis: bold;
	align-content: center;
	text-align: center;
}

h1,
h2,
h3,
h4 {
	text-align: center;
	padding: 5px;
	margin: 10px;
}

header {
	text-align: center;
	font-size: 111%;
	text-emphasis: bold;
	color: #FFFFFF;
	padding: 3px;
	margin: auto;
}

.header {
	background-color: #000000bb;
}
